<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Northwest
    </title>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>
<body unselectable="on" >
    <main id='root'>
        Let the light guide you to the northwest. There you will find solace.
    </main>
    <script src="utils/catch.js"></script>
    <script>
        const gui = require('./utils.gui.js');
        const watcher = require('./utils/watcher.js');
        console.log(new watcher());
    </script>
    <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
