<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Northwest
    </title>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>
<body unselectable="on" >
    <main id='root'>
        Let the light guide you to the northwest. There you will find solace.
    </main>
    <script src="nw/catch.js"></script>
    <script src="nw/gui.js"></script>
    <script src="nw/path.js"></script>
    <script src="nw/fs.js"></script>
    <script src="nw/env.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
