<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Northwest
    </title>
    <link rel="stylesheet" type="text/css" href="<%= css %>">
</head>
<body unselectable="on" >

    <!-- begin nw.js app markup -->

    <main id='app'>
        Journey to the north west child, there, you will find solace.
    </main>

    <!-- end nw.js app markup -->

    <% if (env === 'development') { %>
    <script>
        (function () {
            const fs = require('fs');
            const reload = () => window.location.reload();
            fs.watch('<%= css %>', (err) => reload());
            fs.watch('<%= js %>', (err) => reload());
        }());
    </script>
    <% } %>
    <script type="text/javascript" src="<%= js %>"></script>
</body>
</html>
